.app_menuItem {
    width: 100%;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
}

.app_menuItem_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_menuItem_sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app_menuItem_name {
    flex: 1;
}

.app_menuItem_dash {
    width: 90px;
    height: 1px;
    background-color: var(--color-golden);
    margin: 0 1rem;
}

.app_menuItem_price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}